[build]
builder = "nixpacks"

[deploy]
startCommand = "alembic upgrade head && python run.py"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
